@import "@/styles/toggles";

.toggle-wrapper {
  display: inline-flex;
  align-items: center;
  width: max-content;
  gap: 0.75rem;

  .label {
    font-size: 0.875rem;
    font-weight: 500;
    color: inherit;
    user-select: none;
    cursor: pointer;
  }
}

.toggle {
  @include toggle-base;
}
